<!-- src/templates/assignment_list.html -->

{% extends 'base.html' %}

{% block title %} Assignments {% endblock title %}

{% block content %}
<div>
    {% for assignment in object_list %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">{{ assignment.title }}</span> &middot;
            <span class="text-muted">created by {{ assignment.author }}  | {{ assignment.date }}</span>
        </div>
        <div class="card-body">
            {{ assignment.body}}
        </div>
        <div class="card-footer text-center text-muted">
            <a href="{% url 'assignment_edit' assignment.pk %}">EDIT</a> | <a href="{% url 'assignment_delete' assignment.pk %}">DELETE</a>
        </div>
    </div>
    <br />
    {% endfor %}
</div>
{% endblock content %}
