<!-- templates/assignment_list.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %} Assignments {% endblock title %}
{% block custom_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/assignment-list.css' %}">
{% endblock custom_stylesheets %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Assignment List</h1>
      <p class="lead text-muted">List of Assignments created in the open online homework app</p>
    </div>
  </section>

<div class="assignent-list">
    {% for assignment in object_list %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">{{ assignment.title }}</span> &middot;
            <span class="text-muted">created by {{ assignment.author }}  | {{ assignment.date }}</span>
        </div>
        <div class="card-body">
            {{ assignment.body }}
        </div>
        <div class="card-footer text-center text-muted">
            <a href="{% url 'assignment_edit' assignment.pk %}">EDIT</a> | <a href="{% url 'assignment_delete' assignment.pk %}">DELETE</a>
        </div>
    </div>
    <br />
    {% endfor %}
</div>
{% endblock content %}
